body {
    background-color: #19191B;
}

a, h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
}

p {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13.9375px;
    line-height: 26px;
    letter-spacing: -0.43573px;
}

.nav-element {
    text-decoration: none;
}

.main-header {
    margin-top: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.center {
    margin: 0 auto;
    width: 75vw;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-text {
    margin-left: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18.5833px;
    line-height: 140%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-button {
    font-family: 'Nunito Sans';

    font-size: 10.619px;
    line-height: 14px;
    text-align: center;
    letter-spacing: -0.331985px;
    background-color: #19191B;
    color: #FFFFFF;
    border-radius: 3.31845px;
    border: 0.66369px solid #FFFFFF;
    backdrop-filter: blur(1.32738px);
    /* Note: backdrop-filter has minimal browser support */
    padding: 7.5px 5.3px 7.5px 5.3px;
    border-radius: 3.31845px;
    width: 104.2px;
    height: 29.2px;
    cursor: pointer;
}

.contact-button:hover {
    color: #5454D4;
    border-color: #5454D4;
}

.nav>a {
    font-family: 'Nunito Sans';
    font-size: 11.9464px;
    line-height: 16px;
    text-align: right;

    color: rgba(255, 255, 255, 0.7);


    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 26.5476px;
}

.nav>a:hover {
    color: #5454D4;
}

.gradient {
    position: absolute;
    width: 309.94px;
    height: 818.86px;
    /* left: -266.48px; */
    top: 153.95px;
    background: linear-gradient(180deg, rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.1134) 100%);
    filter: blur(199.107px);
    border-radius: 154.972px;
    transform: rotate(-54.37deg);
    z-index: -1;
}

.start-screen {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right-start-screen {
    width: 50%;
}

.right-start-screen>img {
    width: 100%;
}

.left-start-screen>h1 {
    font-family: 'Graphik';
    font-size: 53.0952px;
    line-height: 56px;
    margin-bottom: 15px;
    /* or 105% */
}

.left-start-screen .start-screen-button {
    margin-top: 32px;
}

.start-screen-button {
    width: 135.39px;
    height: 38.49px;
    display: flex;
    align-items: center;
    background: #5454D4;
    border-radius: 2.65476px;
    font-family: 'Nunito Sans';
    font-weight: 700;
    font-size: 10.2738px;
    line-height: 18px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 5.30952px;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
}

.start-screen-button:hover {
    color: #19191B;
}

.video-section {

    margin-top: 100px;
}

.top-video-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-video-section>h2 {
    font-family: 'Graphik';
    font-weight: 700;
    font-size: 39.8214px;
    line-height: 46px;
}

.top-video-section>p {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13.9375px;
    line-height: 26px;
    letter-spacing: -0.43573px;
}

iframe {
    width: 100%;
    height: 720px;
}

.gradient2 {
    position: absolute;
    width: 309.94px;
    height: 337.48px;
    top: 1860.3px;
    left: -100px;
    background: linear-gradient(180deg, rgba(84, 84, 212, 0.21) 0%, rgba(84, 84, 212, 0.0882) 100%);
    filter: blur(199.107px);
    border-radius: 154.972px;
    transform: rotate(-54.37deg);
}

.suggestions-section>h2 {
    text-align: center;
    font-family: 'Graphik';
    font-size: 39.8214px;
    line-height: 46px;
    margin-bottom: 30px;
}


.suggestions-section{
    margin-top: 100px;
}

.card-line {
    display: flex;
    justify-content: space-around;
}

.card-line:last-child {
    margin-top: 80px;
}


.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card>h3 {
    font-family: 'Nunito Sans';
    font-weight: 600;
    font-size: 18.5833px;
    line-height: 25px;
    letter-spacing: -0.497977px;
}

.card>p {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13.2738px;
    line-height: 19px;
    letter-spacing: -0.331985px;
    width: 198.44px;
    text-align: center;
}

.card>img {
    width: 45.79px;
    width: 45.79px;
    height: 45.79px;
}

.contact-information {
    display: flex;
    justify-content: space-between;
    background: rgba(30, 30, 32, 0.5);
    padding: 70px 0px 70px 0px;
    /* height: 335.83px; */
}

.contact-heading h2 {
    max-width: 548px;
    font-family: 'Graphik';
    font-weight: 700;
    font-size: 39.8214px;
    line-height: 44px;
    color: #FFFFFF;
    align-items: center;
}

.contact-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hystmodal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    /* см. ниже */
    align-items: center;
    z-index: 99;
    /* Чтобы окно не прилипало к границе
    браузера установим отступы */
    padding: 30px 0;
}

.hystmodal__wrap {
    flex-shrink: 0;
    flex-grow: 0;
    width: 100%;
    min-height: 100%;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.hystmodal__window {
    margin: 50px 0;
    flex-shrink: 0;
    flex-grow: 0;
    background: #fff;
    max-width: 100%;
    overflow: visible;
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
    transform: scale(0.9);
    display: flex;
    flex-direction: column;
    background-color: #19191B;
    border: #FFFFFF 1px solid;
    border-radius: 20px;
    position: fixed;
    align-items: center;
}

.close-button {
    width: 100%;
    padding: 50px 0px 50px 0px;
    border-radius: 0px 0px 20px 20px;
    font-size: 20px;
}

.hystmodal__window h2 {
    text-align: center;
    font-family: 'Graphik';
    font-size: 39.8214px;
    line-height: 46px;
    margin-bottom: 30px;
}

.hystmodal__windowp p {
    font-family: 'Nunito Sans';
    font-weight: 400;
    font-size: 13.2738px;
    line-height: 19px;
    letter-spacing: -0.331985px;
    width: 198.44px;
    text-align: center;
}

.hystmodal-info {
    padding: 25px;
}

.hystmodal-info>p:last-child {
    padding-bottom: 200px;
}

.footer-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 66px;
    margin-top: 33px;
}

.coop {
    margin: 0;
}


.swiper {
    width: 75vw;
    height: 100%;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    width: 30%;
    height: 30%;
    margin-bottom: 40px;
}

.swiper-slide img:nth-child(2) {
    margin-top: 70px;
}

.swiper-slide img:nth-child(3) {
    margin-top: 140px;
}

.active {
    animation-duration: 1s;
    animation-name: slidein;
    width: 25.62px;
    background: #5454D4;
    border-radius: 10.6369px;
}

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;

    border: 0;

    clip: rect(0 0 0 0);
}


/* Decoration */
.left-start-screen>h1::before {
    content: "";
    background-image: url('img/vector1.svg');
    position: absolute;
    width: 68.05px;
    height: 21.58px;
    left: 45vw;
    top: 250.31px;
    z-index: -1;
}

.left-start-screen>p::before {
    content: "";
    background-image: url('img/vector2.svg');
    position: absolute;
    width: 70.05px;
    height: 70.58px;
    left: 40vw;
    top: 620.31px;
    z-index: -1;
}

.right-start-screen::before {
    content: "";
    background-image: url('img/vector3.svg');
    position: absolute;
    width: 50.05px;
    height: 59px;
    left: 80vw;
    top: 300px;
    z-index: -1;
}

.right-start-screen::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url('img/vector4.svg');
    position: absolute;
    width: 35.05px;
    height: 35.58px;
    left: 80vw;
    top: 800px;
    z-index: -1;
}

.left-start-screen::before {
    content: "";
    display: block;
    width: 215.17px;
    height: 644.72px;
    background: linear-gradient(180deg, rgba(251, 168, 28, 0.26) 0%, rgba(224, 86, 136, 0.15) 100%);
    filter: blur(300px);
    border-radius: 233.5px;
    transform: rotate(44.85deg);
    position: absolute;
    left: 70vw;
    top: 50px;
    z-index: -1;
}

.video-section::after {
    content: "";
    display: block;
    width: 309.94px;
    height: 337.48px;
    background: linear-gradient(180deg, rgba(84, 84, 212, 0.21) 0%, rgba(84, 84, 212, 0.0882) 100%);
    filter: blur(199.107px);
    border-radius: 154.972px;
    transform: rotate(-54.37deg);
    position: absolute;
    left: -5%;
    z-index: -1;
}

.card-block::before {
    content: "";
    display: block;
    width: 570.77px;
    height: 1710.24px;
    background: linear-gradient(180deg, rgba(251, 168, 28, 0.048) 0%, rgba(224, 86, 136, 0.018) 100%);
    filter: blur(199.107px);
    border-radius: 154.972px;
    transform: rotate(65.71deg);
    position: absolute;
    z-index: -1;
}

/* Animation */
@keyframes slidein {
    from {
        width: 15px;
        height: 15px;
        border-radius: 10px;
        background: #5454D4;
    }

    to {
        width: 25.62px;
        background: #5454D4;
        border-radius: 10.6369px;
    }
}

/* fonts */
@font-face {
    font-family: "Montserrat";
    src: url("fonts/Montserrat.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Nunito Sans";
    src: url("fonts/NunitoSans.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Graphik";
    src: url("fonts/GraphikBold.otf") format("truetype");
    font-style: bold;
    font-weight: 700;
}

/* media */
@media screen and (max-width: 900px) {
    .nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav>a {
        margin: 20px 0px 20px 0px;
    }

    .card-line {
        flex-direction: column;
    }

    .footer-section {
        flex-direction: column;
    }

    .main-header {
        flex-direction: column;
        align-items: center;
    }

    .start-screen, .top-video-section {
        flex-direction: column;
        align-items: baseline;
    }

    .contact-heading {
        flex-direction: column;
        align-items: baseline;
        justify-content: space-around;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        margin-bottom: 40px;
    }

    .swiper-slide img:nth-child(2) {
        display: none;
    }

    .swiper-slide img:nth-child(3) {
        display: none;
    }
    .card-line:last-child{
        margin-top: 0;
    }
    .card {
        margin: 40px 0 40px 0px;
    }
}


@media screen and (max-width: 1380px) {
    .work-example {
        flex-direction: column;
    }

    .video-section::after, .card-block::before, .left-start-screen::before, .right-start-screen::after, .right-start-screen::before, .left-start-screen>p::before, .left-start-screen>h1::before {
        display: none;
    }

    .center {
        width: 90vw;
    }

    .client-img {
        display: flex;
        justify-content: space-evenly;
    }
}